<section id="contact" class="contact">
    <div class="container">
        <div class="twelve columns">
            <div class="row">
                <div class="twelve columns">
                    <h2 class="description">Contact Us</h2>
                </div>
                <div class="row">
                    <div class="one-half column">
                        <form>
                            <div class="twelve columns">
                                <label for="exampleEmailInput">Name</label>
                                <input class="u-full-width" placeholder="John Doe" id="name" type="email">
                            </div>
                            <div class="twelve columns">
                                <label for="exampleEmailInput">Email</label>
                                <input class="u-full-width" placeholder="johndoe@mailbox.com" id="email" type="email">
                            </div>
                            <div class="twelve columns">
                                <label for="exampleMessage">Message</label>
                                <textarea class="u-full-width" placeholder="Hi henzoLab…" id="message"></textarea>
                            </div>
                            <input class="button-primary" value="Submit" type="submit">
                        </form>
                    </div>
                    <div class="one-half column contacts">
                        <div class="row">
                            <i class="icon fas fa-phone fa-2x"></i>
                            <p class="contact-spec">{{ site.data.settings.phone }}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <i class="icon fas fa-envelope fa-2x"></i>
                            <p class="contact-spec">{{ site.data.settings.email }}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <i class="icon fas fa-map-marker fa-2x"></i>
                            <div class="row">
                                <p class="contact-spec">{{ site.data.settings.title }}</p>
                                <p class="contact-spec">{{ site.data.settings.location }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
