<footer>
    <div class="container">
        <div class="twelve columns">
            <div class="footer">
                <div class="footer-left">
                    <a class="footer-company" href="#">{{ site.data.settings.title }}</a>
                    <p>{{ site.data.settings.description }}</p>
                    <hr>
                    <a href="#">{{ site.data.settings.privacy }}</a>
                </div>


                <div class="footer-center">
                    <a href="{{ site.baseurl }}/">
                        <span class="dark-logo"><img src="{{ site.baseurl }}/assets/images/logo/dark.svg" alt="dark henzoLab logo"></span>
                    </a>
                    <p class="copyright">
                        henzoLab &copy;  {{ "now" | date: "%Y" }}
                    </p>

                </div>

                <div class="footer-right">
                    <ul>
                        {% for link in site.data.footer.right_links %}
            				<li><a href='{{ link.link }}'><i class="{{ link.fa }}"></i></a></li>
            			{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
