<header>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <nav>
                    <a href="{{ site.baseurl }}/">
                        <span class="dark-logo"><img width="104" height="38" src="{{ site.baseurl }}/assets/images/logo/dark.svg" alt="dark henzoLab logo"></span>
                    </a>
                    <ul class="nav-right">
                        {% for link in site.data.navigation %}
                            {% assign class = "" %}
                            {% if link.link == page.url %}
                                {% assign class = class | append: " active" %}
                            {% endif %}
                            <li><a href="{{ link.link }}" class="{{ class }}">{{ link.name }}</a></li>
                        {% endfor %}
                     </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
