<header>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <nav>
                    <a href="{{ site.baseurl }}/">
                        <span class="dark-logo"><img width="104" height="38" src="{{ site.baseurl }}/assets/images/logo/dark.svg" alt="dark henzoLab logo"></span>
                    </a>
                    <ul class="nav-right">
                        <li><a href="#about">About</a></li>
                        <li><a href="#work">Expertise</a></li>
                        <li><a href="#contact">Contact</a></li>
                     </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
