<section id="mission" class="mission">
    <div class="container">
        <div class="twelve columns">
            <div class="row">
                <div class="twelve columns">
                    <div class="mission-inner">
                        <p>
                            Reliability
                            <span></span>
                            Trust
                            <span></span>
                            Professionalism
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="hero" class="hero">
    <div class="container">
        <div class="twelve columns">
            <div class="row">
                <div class="twelve columns">
                    <div class="text">
                        <h2 class="description">The Software Delivery Lab</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
