
/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    nav a {
        padding-top: 20px;
        height: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-right: 20px;

    }
    nav a:hover {
        color: #666;
    }

    .nav-right {
        float: right;

        li {
            text-transform: uppercase;
            display: inline-block;
            padding: 20px 7px 0px 20px;
            line-height: 30px;
            font-size: 16px;
        }
        li:active {
            color: #666;
        }
    }
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    header {
        text-align: center;

        nav a {
            margin-right: 5px;

        }
        .nav-right {
            float: right;

            li {
                display: inline-block;
                padding: 20px 3px 15px 5px;
            }
        }
    }
}
