.bar {
    width: 250px;
    height: 0px;
    border-top: 4px solid #33C3F0;
    // margin: 60px auto 60px;
}

.content {
    text-align: center;
}

.work {
    padding: 50px 10px 10px 10px;
    text-align: center;

    .bar {
        width: 250px;
        height: 0px;
        border-top: 4px solid #33C3F0;
    }

    .work {
        a {
            color: #666;
            padding: 25px;
            background: #fafafa;
            margin-top: 20px;
            border-radius: 10px;
        }
        a:hover {
            // color: #33C3F0;
            border-bottom: 3px solid #33C3F0;
        }

        a:hover img {
            color: #33C3F0;
        }

        .work-icon {
            width: 100px;
            height: 100px;
        }

        p {
            margin: 15px 0 0;
        }
    }

}

.contact {
    margin: 50px auto 0px;
    padding: 50px;
    background: #e5eaee;
    text-align: center;

    .inner {
        border: 2px solid #33C3F0;
        border-radius: 5px;
        padding: 20px;
    }

    form {
        text-align: left;

        input {
            margin-bottom: 10px;
        }

        textarea {
            margin-bottom: 10px;
            height: 150px;
        }
    }

    .contacts {
        .icon {
            color: #33C3F0;
        }
        .row .contact-spec {
            margin-left: 10px;
            margin-bottom: 10px;
        }
        hr {
            margin: 15px 0;
        }
    }
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .contact {
        form {
            text-align: center;
        }
    }
    .work {
        .work {
            a {
                cursor: pointer;
            }
        }

    }
}
